<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--检测网络路径   英文逗号分割-->
		<add key="NetPath" value="E:\\TestWatcher1,E:\\TestWatcher2"/>
		<!--检测文件类型  *.格式-->
		<add key="FileType" value="*.cs"/>
		<!--移动到的指定路径-->
		<add key="SpePath" value="E:\\TestMove"/> 
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup> 
</configuration>